*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    display: flex;
}
.navbar{
    padding: 10px 10px 10px 10px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navtools{
    justify-content: center;
    /* display: flex; */
}
.logo{
    align-items: center;
    /* align-self: flex-end; */

}
.logo h1{
    /* align-self: flex-end; */
    /* padding: 1 ; */
    padding-left: 10px;
}
.logo-name{
    height: 36px;
    color: white;
    /* align-self: flex-end; */
}
.Events {
    /* background-color: rgb(66, 70, 75); */
    align-items: center;
    justify-content: space-between;
   
}
.EVlogo img{
    height: 170px;
    width: 259px;
    border-radius: 5%;
}
.EV2logo img{
    border-radius: 5%;
    height:285px ;
    width: 186px; 
}

.contents{
    padding: 70px 150px;
}
.Evh1{
    padding: 20px 0;
}
#mood img{
    padding-top: 6px;
}
.EV2logo img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.EVlogo img:hover,.searchlogo:hover,.homelogo:hover,.listlogo:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.footer{
    background-color: rgb(166, 166, 166);
    color: black;
    /* justify-content: center; */
}
.FooterLogo{
    justify-content: center;
}
.flogos{
    align-items: center;
    justify-content: space-between ;
    padding: 10px 130px 10px 50px;
    /* justify-items: center; */
}
.insta,.help,.twitter,.cpright{
    /* justify-items: center ;
     */
     text-align: center;
     cursor: pointer;
}
.loginbutton,.signUpbutton{
    border: none;
    background-color: rgb(252, 176, 0);
    color: white;
    height: 30px;
    width: 60px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.navtools{
    width: 70%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 60%;
    background-color: white;
    height: 100%;
    border-radius: 13px;
    padding: 0 10px;
}
.searchbar{
    height: 100%;
    outline: none;
    border: none;
    width: 425px;
}
.searchlogo{
    height: 100%;
}
.loginbox,.signinbox{
    background-color: white;
    font-weight: 700;
    border-radius: 20px;
    width: 30%;
    height: 40vh;
    padding: 1% 5%;
    margin: 15% 30%;
    line-height: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.loginbox{
    padding: 3% 5%;
}
.loginbox button,.signinbox button{
    border: none;
    height: 35px;
    color: white;
    background-color: black;
    width: 80px;
    font-weight: 700;
    border-radius: 10px;
    
}
.loginbox .loginbuttons,.signinbox .signinSbuttons{
    justify-content: space-between;
}

.loginbox button:hover,.signinbox button:hover{
    cursor: pointer;
}
.loginbox input,.signinbox input{
    border: none;
    outline: none;
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
    width: 250px;
    height: 40px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;

}
